@model IEnumerable<LiberoRentACarASPMVC.ViewModels.ModeloViewModel>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fabricante.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadePortas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Motor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Combustivel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cambio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fabricante.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadePortas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Motor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Combustivel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cambio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ModeloID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ModeloID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ModeloID })
        </td>
    </tr>
}

</table>
